.root {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 18px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.show-all {
  color: var(--font-color-link);
  cursor: pointer;
}

.cards {
  //width: 100%;
  width: fit-content;
  //display: grid;
  //grid-template-columns: repeat(auto, 1fr);
  display: flex;
  gap: 4rem;
  overflow: auto;
  margin: auto;
}

.button {
  width: 17rem;
  height: 5rem;
  border-color: var(--primary-border);

  &:hover {
    border-color: #4096ff;
  }

  &:focus {
    outline: none;
  }

  & > span {
    color: var(--font-color-link);
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 100%;
  overflow: auto;
}
