.root {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  //background-color: var(--secondary-bg);
  //background-color: rgb(207, 207, 207);
  gap: 3rem;
  flex-direction: column;
  @media screen and (max-width: 62.5rem) {
    width: 90%;
  }
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

.description {
  color: var(--font-color-secondary);
  font-size: 2rem;
}

.other {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @media screen and (max-width: 62.5rem) {
    display: flex;
    flex-direction: column;
  }
}

.news {
  width: 40rem;
  height: 10rem;
  & div {
    font-size: small !important;
  }
}
