.root {
  display: flex;
  overflow: hidden;
  background-color: var(--dark-bg);
  border-radius: 1rem;
  outline: 2px solid var(--primary-border);
  border: 0.5px #446fbe solid;
  @media screen and (max-width: 34rem) {
    flex-direction: column;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  @media screen and (max-width: 62.5rem) {
    font-size: large;
  }
}

.description {
  color: var(--font-color-secondary);
  font-size: 1.5rem;
  @media screen and (max-width: 62.5rem) {
    font-size: small;
  }
}

.text-block {
  width: 40%;
  padding: 1rem 2rem;
  @media screen and (max-width: 38rem) {
    width: 70%;
  }
  @media screen and (max-width: 34rem) {
    width: 100%;
  }
}

.image {
  display: flex;
  & > img {
    object-fit: cover;
    width: 100%;
  }
}

.image-block {
  width: 80%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 34rem) {
    width: 100%;
  }
}
