.root {
  display: flex;
  width: 100%;
  height: fit-content;
  border: 1px var(--primary-border) solid;
  border-top: 0;
  height: var(--header-height);
  align-items: center;
  justify-content: space-around;
}
